github "thecatalinstan/Criollo"
github "crossroadlabs/Regex"
github "sindresorhus/LaunchAtLogin"
github "sindresorhus/Defaults"
github "sindresorhus/Preferences"
github "getsentry/sentry-cocoa" "4.1.0"
